.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    color: #fff;
    background: #404040;
    line-height: 25px;
    border-radius: 2px;
}
.dropdownA:hover .dropdown-menuA{
    display: block;
    color: #fff;
    background: #404040;
    line-height: 25px;
    border-radius: 2px;
}
.img-us {
  float: left;
  margin-left: 0;
}
.short-link{
  float: left;
  padding-left: 5%;
}
.short-link ul li{
  float: left;
  margin-left: 0;
  
}
.short-us{
  text-align: left;
  float: right;
  color: gray;
  font-size: 14px;
  padding-left: 5px;
}
.right-us{
  float: left;  
}
.foot-us{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: yellow;
}
.overflow.extra {
  overflow: visible;
}
.left-0 {
  margin-left: 0 !important;
}
.overflow {
  overflow: hidden;
}
.inner-1 {
  padding-right: 30px;
}
/*------ list ------- */
.list.extra {
  width: 100%;
  margin: 0;
  float: none;
  padding-top: 5px;
}
.list.extra2 {
  width: 170px;
  padding-top: 5px;
}
.list-pad {
  float: left;
  padding-right:0;
  padding-left: 5px;
  text-align: left;
}
.list {
  list-style: none outside;
  padding-top: 5px;
  float: left;
  width: 150px;
  margin: 0;
}
.list li {
  background: url(../images/icon/marker-1.png) no-repeat 0 7px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.list li.last {
  padding-bottom: 0;
}
.list.extra1 a,
.list.extra2 a {
  color: #7f7f7f;
}
.list.extra1 a:hover,
.list.extra2 a:hover {
  color: #F25C27;
}
.list li a {
  color: #434232;
  display: inline-block;
  font-size: 14px;
}
.list li a:hover {
  text-decoration: none;
  color: black;
}
/*----------- list-photo--------------*/
.list-photo {
  list-style: none outside;
  margin: 0;
  overflow: hidden;
  margin-left: -30px;
}
.list-photo li {
  float: left;
  margin: 0 0 30px 30px;
}
.txt-1 {
  color: #ffffff;
  text-align: left;
  max-width: 200px;
}
h3 {
  font-size: 30px;
  line-height: 34px;
  margin: 32px 0 15px;
  font-weight: normal;
  color: yellow;
}
.span3{
    background-color: gray;
    padding-left: 0;
}
.btn.btn-success{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.portfolio .work h6{
  font-size: 20px;
}
.portfolio .work p{
  float: left;
  font-size: 14px;
  max-width: 50%;
  min-height: 50%;
}
.col-md-3{
  background-color: #E5966D;
  height: 550px;
  text-align:left;
  margin-top: 50px;
  float: right;
  margin-right: 5%;
}
.portfolio{
  margin-left: 5%;
}
.ccc{
  background-color: #A49B89;
  width: 100%;
  height: 400px;
  float: left;


}
