.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    color: #fff;
    background: #404040;
    line-height: 25px;
    border-radius: 2px;
}
.dropdownA:hover .dropdown-menuA{
    display: block;
    color: #fff;
    background: #404040;
    line-height: 25px;
    border-radius: 2px;
}
.right-us .img-us {
  float: left;
  margin-left: 10%;
}
.short-link{
  float: left;
}
.short-link li{
  float: left;  
}
.short-us{
  text-align: left;
  float: right;
  color: black;
  font-size: 14px;
}
.right-us{
  float: left;
  margin-right: 5%;
}
.overflow.extra {
  overflow: visible;
}
.left-0 {
  margin-left: 0 !important;
}
.overflow {
  overflow: hidden;
}
.inner-1 {
  padding-right: 30px;
}
/*------ list ------- */
.list.extra {
  width: 100%;
  margin: 0;
  float: none;
  padding-top: 5px;
}
.list.extra2 {
  width: 170px;
  padding-top: 5px;
}
.list-pad {
  float: left;
  padding-right:0;
  padding-left: 5px;
  text-align: left;
}
.list {
  list-style: none outside;
  padding-top: 5px;
  float: left;
  width: 150px;
  margin: 0;
}
.list li {
  background: url(../images/icon/marker-1.png) no-repeat 0 7px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.list li.last {
  padding-bottom: 0;
}
.list.extra1 a,
.list.extra2 a {
  color: #7f7f7f;
}
.list.extra1 a:hover,
.list.extra2 a:hover {
  color: #F25C27;
}
.list li a {
  color: green;
  display: inline-block;
  font-size: 14px;
}
.list li a:hover {
  text-decoration: none;
  color: black;
}
/*----------- list-photo--------------*/
.list-photo {
  list-style: none outside;
  margin: 0;
  overflow: hidden;
  margin-left: -30px;
}
.list-photo li {
  float: left;
  margin: 0 0 30px 30px;
}
.txt-1 {
  color: #ffffff;
  text-align: left;
  max-width: 200px;
}
h3 {
  font-size: 30px;
  line-height: 34px;
  margin: 32px 0 15px;
  font-weight: normal;
  color: yellow;
}
img title{
  font-size: 20px;
}
.span3{
    background-color: gray;
    padding-left: 0;
}
.btn.btn-success{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.portfolio .work h6{
  font-size: 20px;
}
.portfolio .work p{
  float: left;
  font-size: 14px;
  max-width: 50%;
  min-height: 50%;
  width: 
}
.col-md-3{
  background-color: #E5966D;
  height: 550px;
  text-align:left;
  margin-top: 50px;
  float: right;
  margin-right: 5%;
}
.portfolio{
  margin-left: 5%;
}
.foot-us{
  background-color: #E1C7BC;
  width: 100%;
  height: 250px;
  float: left;
  margin-top: 10px;
}
.col-md-5{
  margin-left: 10%;
}
.sponsors{
  background-color: gray;
}
/*Provinces*/
.col-md-18{
  margin-top: 80px;
  margin-left: 10%;
  width: 90%;
}
.space-header{
  margin-top: 100px;
  width:100%;
}
/*Copy Right*/
/*----------- buttons & links--------------*/
.btn-1 {
  color: #fff;
  background: #F25C27;
  padding: 5px 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-1:hover {
  color: #fff;
  background:#DB420E;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
/* policy */.policy {
  position: relative;
  margin-top: -3px;
}
.policy strong {
  display: block;
  color: #ffffff;
  line-height: 16px;
  padding-bottom: 9px;
}
.policy p {
  color: #7f7f7f;
  padding-bottom: 21px;
}
/*------ footer ------- */
footer {
  padding:20px 0;
}
.privacy {
  color: #1a1a1a;
  padding-top: 6px;
}
.privacy a {
  color: #F25C27;
}
.list-social {
  list-style: none outside none;
  overflow: hidden;
  margin: 0;
}
.list-social a {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.list-social a.icon-1 {
  background-image: url(../img/soc-icon-1.png);
}
.list-social a.icon-2 {
  background-image: url(../img/soc-icon-2.png);
}
.list-social a.icon-3 {
  background-image: url(../img/soc-icon-3.png);
}
.list-social a.icon-4 {
  background-image: url(../img/soc-icon-4.png);
}
.list-social a.icon-5 {
  background-image: url(../img/soc-icon-5.png);
}
.list-social li {
  float: left;
  margin-left: 5px;
}
.list-social a:hover {
  background-position: 0 bottom;
}
/*--- footer end ------*/
