/* line 1, ../sass/oka_slider_model.scss */
.slider_model {
  position: relative;
  display: block;
  width: 90%;
  margin: 90px 0 -20px 80px;
  margin-left: 5%;
  
}
/* line 8, ../sass/oka_slider_model.scss */
.slider_model .slider_model_box a {
  display: block;
}
/* line 12, ../sass/oka_slider_model.scss */
.slider_model .slider_model_box img {
  display: block;
  width: 70%;
  max-height: 400px;
}
/* line 17, ../sass/oka_slider_model.scss */
.slider_model .slider_model_box > * + * {
  display: none;
}
/* line 22, ../sass/oka_slider_model.scss */
.slider_model .slider_introduce_box {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 25%;
  top: 20px;
  left: 3%;
  bottom: 20px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  z-index: 1;
}
/* line 35, ../sass/oka_slider_model.scss */
.slider_model .slider_introduce_box h5 {
  padding: 10px;
  background-color: #08c;
  color: #fff;
}
/* line 41, ../sass/oka_slider_model.scss */
.slider_model .slider_introduce_box p {
  margin: 10px;
  line-height: 1.2;
  font-size: .9em;
  text-indent: 2em;
  text-align: justify;
  text-justify: inter-ideograph;
}
/* line 50, ../sass/oka_slider_model.scss */
.slider_model .slider_introduce_box .ctrl_dot_box {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
/* line 78, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 89, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 95, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box ul li {
  border-bottom: 1px solid #555;
}
/* line 98, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box ul li + li {
  border-top: 1px solid #333;
}
/* line 102, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box ul li a {
  display: block;
  padding: 10px;
  font-size: .8em;
  text-decoration: none;
  color: #fff;
}
/* line 113, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box ul li a.is_active {
  background-color: #08c;
  background-color: rgba(0, 136, 204, 0.6);
}
/* line 118, ../sass/oka_slider_model.scss */
/*Sros thumb*/
.slider_model .slider_list_box ul li a div {
  width: 50%;
  height: 80px;
  float: left;
  margin-right: 10px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 129, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box ul li a h5 {
  padding: 4px 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 137, ../sass/oka_slider_model.scss */
.slider_model .slider_list_box ul li a p {
  padding: 4px 0;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 149, ../sass/oka_slider_model.scss */
.slider_model .model_ctrl_tools {
  width: 100%;
  height: 0;
}
/* line 153, ../sass/oka_slider_model.scss */
.slider_model .model_ctrl_tools a {
  position: absolute;
  display: block;
  height: 20%;
  padding: 0 10px;
  top: 40%;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
/* line 168, ../sass/oka_slider_model.scss */
.slider_model .model_ctrl_tools a.ctrl_left {
  left: 0;
  border-radius: 0 4px 4px 0;
}
/* line 173, ../sass/oka_slider_model.scss */
.slider_model .model_ctrl_tools a.ctrl_right {
  right: 0;
  border-radius: 4px 0 0 4px;
}
/* line 180, ../sass/oka_slider_model.scss */
.slider_model .slider_sec_model_box {
  position: absolute;
  display: block;
  width: 65%;
  right: 3%;
  top: 20px;
  bottom: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 194, ../sass/oka_slider_model.scss */
/*Sros buttom description bar*/
.slider_model .slider_bottom_box {
  width: 70%;
  left: 0;
  bottom: 0;
  z-index: 1;
}
/* line 221, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box {
  padding: 10px 0 6px;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 228, ../sass/oka_slider_model.scss */
/*Sros dot next previous*/
.slider_model .slider_bottom_box .bg_box .ctrl_dot_box {
  margin: 0 0;
  padding: 0 0;
  float: center;
}
/* line 250, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box .ctrl_img_box {
  position: relative;
}
/* line 253, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box .ctrl_img_box ul {
  width: 100%;
  text-align: center;
  letter-spacing: 6px;
  *zoom: 1;
}
/* line 259, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box .ctrl_img_box ul li {
  display: inline-block;
  *float: left;
  *padding: 0 4px;
}
/* line 264, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box .ctrl_img_box ul li a {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .6;
}
/* line 274, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box .ctrl_img_box ul li a:hover {
  opacity: 1;
}
/* line 278, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box .ctrl_img_box ul li a.is_active {
  border: 1px solid #08c;
  opacity: 1;
}
/* line 287, ../sass/oka_slider_model.scss */
.slider_model .slider_bottom_box .bg_box h5 {
  padding: 4px 0;
  margin: 0 6px;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 297, ../sass/oka_slider_model.scss */
/*Sros description*/
.slider_model .slider_bottom_box .bg_box p {
  padding: 0 0;
  margin: 0 0;
  color: #fff;
  text-align: left;
  overflow: hidden;
  
}
/* line 309, ../sass/oka_slider_model.scss */
.slider_model .ctrl_dot_box {
  padding: 4px 0 8px;
}
/* line 312, ../sass/oka_slider_model.scss */
.slider_model .ctrl_dot_box ul {
  text-align: center;
  letter-spacing: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  *zoom: 1;
}
/* line 320, ../sass/oka_slider_model.scss */
.slider_model .ctrl_dot_box ul li {
  display: inline-block;
  *float: left;
  *padding: 0 4px;
}
/* line 325, ../sass/oka_slider_model.scss */
.slider_model .ctrl_dot_box ul li a {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #ddd;
  border-radius: 100%;
  opacity: .8;
}
/* line 334, ../sass/oka_slider_model.scss */
.slider_model .ctrl_dot_box ul li a:hover {
  opacity: 1;
  background-color: #ddd;
}
/* line 339, ../sass/oka_slider_model.scss */
.slider_model .ctrl_dot_box ul li a.is_active {
  background-color: #08c;
}
/* line 347, ../sass/oka_slider_model.scss */
.slider_model h5 {
  font-size: 1.2em;
}
/* line 351, ../sass/oka_slider_model.scss */
.slider_model p {
  font-size: 1em;
  overflow: hidden;
}

@media (max-width: 480px) {
  /* line 361, ../sass/oka_slider_model.scss */
  .slider_model .slider_introduce_box {
    display: none;
  }
  /* line 365, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box {
    width: 26%;
  }
  /* line 372, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box ul li a {
    padding: 4px;
  }
  /* line 375, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box ul li a div {
    width: 20px;
    height: 20px;
  }
  /* line 384, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box ul li a p {
    display: none;
  }
  /* line 392, ../sass/oka_slider_model.scss */
  .slider_model .model_ctrl_tools {
    display: none;
  }
  /* line 396, ../sass/oka_slider_model.scss */
  .slider_model .slider_sec_model_box {
    width: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 0;
    border-radius: 0;
  }
  /* line 408, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box {
    padding: 4px 0 2px;
  }
  /* line 411, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box .ctrl_dot_box {
    margin: 0 10px;
  }
  /* line 417, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box .ctrl_img_box ul {
    letter-spacing: 4px;
  }
  /* line 422, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box .ctrl_img_box ul li a {
    height: 26px;
    width: 26px;
  }
  /* line 440, ../sass/oka_slider_model.scss */
  .slider_model .ctrl_dot_box {
    padding: 4px;
  }
  /* line 443, ../sass/oka_slider_model.scss */
  .slider_model .ctrl_dot_box ul {
    letter-spacing: 1px;
  }
  /* line 448, ../sass/oka_slider_model.scss */
  .slider_model .ctrl_dot_box ul li a {
    width: 10px;
    height: 10px;
  }
  /* line 456, ../sass/oka_slider_model.scss */
  .slider_model h5 {
    font-size: 1.2em;
  }
  /* line 460, ../sass/oka_slider_model.scss */
  .slider_model p {
    font-size: 1em;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 470, ../sass/oka_slider_model.scss */
  .slider_model .slider_introduce_box {
    width: 30%;
    top: 10px;
    left: 10px;
    bottom: 10px;
  }
  /* line 476, ../sass/oka_slider_model.scss */
  .slider_model .slider_introduce_box h5 {
    padding: 6px;
    background-color: #08c;
    color: #fff;
  }
  /* line 482, ../sass/oka_slider_model.scss */
  .slider_model .slider_introduce_box p {
    text-indent: 0;
    margin: 6px;
  }
  /* line 487, ../sass/oka_slider_model.scss */
  .slider_model .slider_introduce_box .ctrl_dot_box {
    padding: 4px 0;
  }
  /* line 492, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box {
    width: 26%;
  }
  /* line 499, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box ul li a {
    padding: 4px;
  }
  /* line 502, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box ul li a div {
    width: 20px;
    height: 20px;
  }
  /* line 511, ../sass/oka_slider_model.scss */
  .slider_model .slider_list_box ul li a p {
    display: none;
  }
  /* line 523, ../sass/oka_slider_model.scss */
  .slider_model .slider_sec_model_box {
    width: 62%;
    right: 10px;
    top: 10px;
    bottom: 10px;
  }
  /* line 530, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  /* line 536, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box {
    padding: 4px 0 2px;
  }
  /* line 540, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box .ctrl_dot_box {
    margin: 0 10px;
  }
  /* line 546, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box .ctrl_img_box ul {
    letter-spacing: 4px;
  }
  /* line 551, ../sass/oka_slider_model.scss */
  .slider_model .slider_bottom_box .bg_box .ctrl_img_box ul li a {
    height: 32px;
    width: 32px;
  }
  /* line 569, ../sass/oka_slider_model.scss */
  .slider_model .ctrl_dot_box {
    padding: 4px;
  }
  /* line 572, ../sass/oka_slider_model.scss */
  .slider_model .ctrl_dot_box ul {
    letter-spacing: 1px;
  }
  /* line 577, ../sass/oka_slider_model.scss */
  .slider_model .ctrl_dot_box ul li a {
    width: 12px;
    height: 12px;
  }
  /* line 585, ../sass/oka_slider_model.scss */
  .slider_model h5 {
    font-size: 1.2em;
  }
  /* line 589, ../sass/oka_slider_model.scss */
  .slider_model p {
    font-size: 1em;
  }
}
